In [102]:

from sqlalchemy import create_engine
from configparser import ConfigParser
from datetime import datetime

config=ConfigParser()
config.read('config.ini')

mysql_engine=create_engine(f"{config['MySQL']['driver']}://{config['MySQL']['username']}:{config['MySQL']['password']}@{config['MySQL']['host']}/{config['MySQL']['database']}") 
mysql_engine

Engine(mysql+pymysql://root:***@localhost/drugbank)

In [188]:
import requests
import pandas as pd
import logging
import regex as re
import numpy as np


url = f"https://drugbank.vn/services/drugbank/api/public/co-so-phan-phoi"
payload={
    'page':1,
    'size':20,
    'sort':'id,asc'
}

headers = {
  'authority': 'drugbank.vn',
  'accept': 'application/json, text/plain, */*',
  'accept-language': 'en-US,en;q=0.9,vi;q=0.8',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36',
  'x-kl-ajax-request': 'Ajax_Request'
}

df_cspp=pd.DataFrame()
for i in range(2):
    payload['page']=i 
    response = requests.request("GET", url, headers=headers, data=payload)
    data_temp=response.json()
    df_temp=pd.DataFrame(data_temp)
    df_cspp=pd.concat([df_cspp,df_temp],ignore_index=True)

In [194]:
df_cspp['phoneContact']=df_cspp['phoneContact'].str.replace('.','').replace(' ','')

C:\Users\Admin\AppData\Local\Temp\ipykernel_15784\604833375.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cspp['phoneContact']=df_cspp['phoneContact'].str.replace('.','').replace(' ','')

In [195]:
df_cspp['phoneContact'].str.extract('(\d+)')

               0
0    02963857300
1    02963847747
2    02963949727
3     0296385757
4     0918755198
5     0913762244
6    02963841429
7    02963843545
8    02963843027
9    02963853757
10   02966254527
11   02963868951
12   02963941261
13   02963846797
14   02963845480
15           NaN
16  029633841438
17   02963945484
18   02963625137
19   02963836138
20   02963846640
21   02543741888
22   02543541137
23   02543541357
24      02543711
25   02543832264
26   02543593753
27   02543832264
28   02546256388
29   02543731660
30   02543593753
31    0964391822
32    0983278887
33    0904480904
34   01659159222
35    0913374169
36    0912511336
37    0988646991
38    0915305002
39    0982754737